<div th:replace = "~{header.html}"></div>
<div th:if="${not #strings.isEmpty(error)}">
    <div th:replace="~{error.html}"></div>
</div>
<h2 class="mt-5" th:text="'Welcome '+ ${email}"></h2>

<div class="mt-5 d-flex justify-content-center">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createCollection">
        Create Collection
    </button>
    <form>
        <div class="input-group w-100">
            <input type="text" class="form-control" name="c" placeholder="Search Collection Ex. 'test'" autocomplete="off">
        </div>
    </form>
</div>

<div class="modal fade" id="createCollection" tabindex="-1" aria-labelledby="createCollectionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCollectionLabel">Create Collection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/collection}" method="post">
                    <div class="mb-3">
                        <label for="collectionName" class="form-label">Enter the collection name</label>
                        <input type="text" class="form-control" id="collectionName" name="collectionName" required>
                    </div>
                    <button type="submit" class="btn btn-dark">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:if="${not #lists.isEmpty(collections)}">
    <div class="mt-5 row">
        <div class="col-md-4" th:each="collection: ${collections}">
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title" th:text="${collection.collectionName}"></h5>
                    <p class="card-text" th:text=" ${baseUrl} + '/api/' + ${collection.id}"></p>
                    <div class="d-flex">
                        <a th:href="@{${'/collection/' + collection.id + '/api'}}" class="btn btn-dark">View</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#modal-' + ${collection.id}">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:unless="${not #lists.isEmpty(collections)}" class="mt-5 d-flex justify-content-center">
    <p class="fw-lighter">No Collection Present</p>
</div>

<div th:each="collection: ${collections}">
    <div class="modal fade" th:id="'modal-' + ${collection.id}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'modalLabel-' + ${collection.id}">Delete Collection</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete <strong th:text="${collection.collectionName}"></strong> collection? Once Deleted it cannot be recovered
                </div>
                <div class="modal-footer">
                    <form th:method="delete" th:action="@{${'/collection/' + collection.id}}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace = "~{footer.html}"></div>
